@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Caprasimo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}
.Top_Header{
    background-color: #D61120;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
    font-style: semibold;
    margin-top: 20px;
}
.Top_Header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 90px;
}
.Top_Header ul li{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle ;
}
.Top_Header ul li img{
    width: 30px;
    align-items: center;
}
.Top_Header ul li h1{
    display: inline-block;
    color: white;
    font-size: 20px; 
    font-weight: 400; 
    margin: 0 0 7px 0;   
}
.Top_Header ul li h2{
    display: inline-block;
    color: white;
    font-size: 20px; 
    font-weight: 400; 
    margin: 0 0 7px 1200px;
}
.Main_Header{
    padding: 5px 5px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    position: relative;
    top: 5px;
    
}
.Title h1{
    font-size: 40px;
    color: #D61120;
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 220px;
    display: block;
}
.Main_Header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.Main_Header ul li{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle ;
    margin-left: 20px;
    font-size: 25px;
    margin-top: 10px;
}
.Main_Header a{
    text-decoration: none;
    color: black;
    position: relative;
}


.Icons{
    display: inline;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0 0 40px;
    gap: 25px;
    width: 25px;
}
.Carts{
    position: relative;
    right: 80px;
    top: 5px;
}
.arrows{
    position: relative;
    top:10px;
}
.Home_Content{
    font-family: "Inter";
    background-image: url(./img/bg1.png);
    background-size: cover;
    width: 100vw;
    height: 1100px;
}
.Home_Content ul{
    display: inline-block;
    margin: auto;
    padding: auto;
    position: relative;
}
.linear{
    position: relative;
    width: 1015px;
    height: 1100px;
    right: 40px;
}
.Home_Content li{
    list-style: none;
    position: relative;
    bottom: 900px;
    display: block; 
}

.Main_Body{
    font-family: "Inter";
    display: inline;
    vertical-align: middle;
    color: white;
    position: relative;
    bottom: 100px;
    left: 100px;
    
}
.Main_Body h1{
    font-size: 90px;
    font-weight: 700;
    font-style: bold;
}
.Main_Body h3{
    font-size: 40px;
    font-weight: 300;
    font-style: light;
}
.Message{
    font-style: Inter;
    position: relative;
    bottom: 100px;
    left: 100px;
    vertical-align: middle;
    color: white;
}
.Message h2,
.Message h3 {
    display: inline;
}
.Message h2{
    color: #D61120;
    font-size: 64px;
    font-style: black;
    font-weight: 900;
}
.Message h3{
    font-size: 20px;
    font-style: black;
}
.Message h4{
    position: relative;
    top: 10px;
    left: -395;
    right: 395px;
    background-color: #D61120;
    width: 210px;
    height: 60px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0 auto;
    color: white;
}

.Service_Header{
    margin: 0;
    padding: 0;
    font-family: "Inter"; 
}
.Service_Header ul li{
    display: inline;
    /* text-align: center; */
}
.Service-Top{
    text-align: center;
}
.Service-Top h2{
    color: #F4222B;
    font-size: 20px;
    font-weight: 900;
    font-style: Solid;
    text-decoration: underline;
}
.Service-Top h1{
    font-size: 32px;
    font-weight: 700;
    font-style: bold;
}
.Service_Content{
    font-family: "Inter";
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin: 40px 0;

}
.Broadband{
    box-shadow: 0px 4px 13px 2px #00000040;
    border-radius: 10px;
    width: 290px;
    height: 350px;
    vertical-align: top;
    margin: 0;
}
.serve{
    width: 99;
    height: 99;
    top: 1260px;
    left: 133px;
    margin: 30px 0 0 35px;
}
.Broadband h1{
    font-family: Inter;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}
.WifiRed{
    background-color: #D61120;
    box-shadow: 0px 4px 13px 2px #00000040;
    border-radius: 10px;
    width: 290px;
    height: 350px;
    vertical-align: top;
    margin: 0;
}
.WifiRed h2, .WifiRed h1{
    color: white;
    margin: 0 30px 0 20px;
    
}
.Satellite{
    box-shadow: 0px 4px 13px 2px #00000040;
    border-radius: 10px;
    width: 290px;
    height: 350px;
    vertical-align: top;
    margin: 0;
}
.TV{
    box-shadow: 0px 4px 13px 2px #00000040;
    border-radius: 10px;
    width: 290px;
    height: 350px;
    vertical-align: top;
    margin: 0;
}
.Service_Content h1,
.Service_Content h2 {
    margin: 30px 0 0 35px;
}
.Service_Content h1{
    font-family: Inter;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}
.Service_Content h2{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}
.Internet{
    margin:0;
    margin-top: 100px;
    position: relative;
    left: 80px;
}
.Internet-content{
    display: inline;
    position: relative;
    left: 80px;
}
.Internet h2{
   font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: Black;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;   
    color:#F4222B ;
}
.Internet h3,
.Internet h4{
    position: relative;
    left: 820px;
}
.Internet h3{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}
.Internet h4{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}
.Intert-Context{
    display: inline;
    vertical-align: top;
}
.fam{
    width: 660px;
    height: 644;
    border-radius: 5px;
    position: relative;
    bottom: 600px;
    left: 100px;
    background-color: #F8F8F8;
    width: 461;
    height: 629;
    opacity: 1;
    border-width: 3px;
    
}
.tv{
    width: 300px;
    position: relative;
    right: 100px;
    bottom: 470px; 
}

.Internet-content{
    font-family: Inter;
}
.HD{
    position: relative;
    left: 820px;
    display: inline-block;
}
.HD h2{
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}
.HD h3{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;

}
.Lock{
    display: inline-block;
    position: relative;
    left: 900px;
}
.Lock h2{
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}
.Lock h3{
    font-family: "Inter";
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}
.Checks{
    font-family: "Inter";
    display: inline-block;
    position: relative;
    top: 350px;
    left: 130px;
}
.Checks img{
    position: relative;
    top: 48px;
    right: 30px;
}
.second{
    position: relative;
    top: -50px;
}
.third{
    position: relative;
    top: -100px;
}
.Checks h2{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;

}
.rating-box {
  background-color: #d61120;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px 30px 30px 50px;
  width: 300px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  position: absolute;
  top: 1980px;
  text-align: left;
  z-index: 3;
}
.rating-box .score-box {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  width: 40px;
  padding: 10px 30px 2px 15px;
  top: 10px;
  right: 20px;
  text-align: center;
}
.rating-box .score-box img {
  position: relative;
  bottom: 35px;
  left: 30px;
  width: 18px;
  height: 18px;
}

.rating-box .score-box span {
  margin-top: 60px;
  font-size: 24px;
  font-weight: 800;
  color: #d61120;
}

.rating-box h2 {
  font-size: 65px;
  font-weight: 700;
  margin: 0;
  padding-top: 30px;
  
}

.rating-box h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0px 0 20px 0;
  text-decoration: underline;
}

.rating-box .stars-trust {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.rating-box .stars-trust li {
  display: inline-block;
  margin-top: 0;
  margin-right: 4px;
  vertical-align: middle;
}

.rating-box .stars-trust li img {
  width: 18px;
  height: 16px;
}

.rating-box .stars-trust li:last-child {
  margin-left: 6px;

  font-size: 15px;
  font-weight: 500;
  display: inline-block;
}
.reviewer{
    margin: 20px 0 0 0;
    padding: 0;
    gap: -100px;
}  
.reviewer ul {
  list-style: none;
  margin: 50px 0 0;
  padding: 0;
  font-size: 0;
  display: inline;
  position: relative;
  bottom: 540px; 
  left: 900px;

}

.reviewer ul li {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.reviewer ul li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  display: inline;
}

.reviewer ul li:last-child {
  max-width: 500px;
  vertical-align: middle;
}

.reviewer ul li:last-child p {
  font-size: 13px;
  font-weight: 500;
  text-decoration: underline;
  color: #444;
  position: relative;
  bottom: 25px;
  right: 15px;
  margin: 0 0 0 20px;
  padding: 0;
  line-height: 1.4;
  display: inline;
  width: 500px;
}
.sir{
    position: relative;
    right: 120px;
}
.p1{
    position: relative;
    right: 55px;
}
.p2{
    position:relative;
    left: 55px;   
}
.p3{
    position: relative;
    left: 55px;
}
.footer-header {
background-color: #e9e9f1;
  margin-top: 100px;
  padding: 100px 100px;
  height: 850px;      
  width: 100vw;          
  box-sizing: border-box;
  position: relative;    
  right: 39px;
  bottom: 550px;
}

.footer-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  white-space: nowrap;
}

.footer-header ul li {
  display: inline-block;
  vertical-align: top;
  font-size: initial;
}

.footer-header-left {
  width: 55%;
}

.footer-header-left h1 {
  font-size: 20px;
  color: #d61120;
  font-weight: 800;
  margin: 20px 0 20px;
  text-decoration: underline;
}

.footer-header-left h2 {
  margin-top: 30px;
  font-size: 35px;
  font-weight: 700;
  color: #000;
}

.footer-header-right img {
  position: relative;
  bottom: 35px;
  right: 200px;
  width: 800px;
  height: 785px;
  display: inline;

}

.footer-header .speed ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  display: inline-block;
}

.footer-header .speed ul li {
  display: inline-block;
  padding: 20px 50px;
  border-radius: 8px;
  font-weight: 700;
  margin-right: 15px;
  font-size: 14px;
}

.footer-header .speed ul li:nth-child(1) {
  background-color: #f4222b;
  color: #fff5f5;
}

.footer-header .speed ul li:nth-child(2),
.footer-header .speed ul li:nth-child(3) {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
}

.fees ul {
  list-style: none;
  padding: 0;
  margin: 40px 0 0 0;
  display: inline-block;
}

.fees ul li {
  display: inline-block;
  padding: 30px 30px;
  margin-right: 20px;
  font-family: "Inter", sans-serif;
}

.fees ul li:first-child {
  background-color: #ffffff;
  border: 1px solid #d4111a;
  color: #f4222b;
}

.fees ul li span:first-child {
  font-weight: 400;
  color: #333;
  font-size: 15px;
}

.fees ul li:first-child {
  font-size: 50px;
  font-weight: 800;
}

.fees ul li:first-child span:last-child {
  color: #333;
  font-size: 15px;
  font-weight: 700;
}

.fees ul li:last-child {
  background: none;
  border: none;
  color: #000000;
  font-size: 50px;
  font-weight: 800;
}

.fees ul li:last-child span:first-child {
  font-weight: 400;
  color: #333;
  font-size: 15px;
}

.fees ul li:last-child span:last-child {
  color: #333;
  font-size: 15px;
  font-weight: 700;
}

.fees ul li:first-child span:last-child,
.fees ul li:last-child span:last-child {
  font-size: 14px;
  font-weight: 500;
  margin-left: 0;
}

.footer-header-left p {
  font-size: 19px;
  font-weight: 300;
  color: #000;
  margin: 0;
  line-height: 1.2;
}

.footer-header-left p img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 6px;
}

.checks {
  margin-top: 30px;
}

.footer-header-left h3 {
  font-size: 25px;
  color: #000000;
  font-weight: 500;
  margin: 20px 0 20px;
  text-decoration: underline;
}
.footer-header {
  margin-bottom: 0;
}

.footer {
  background-color: #d61120;
  color: #ffffff;
  width: 100%;
  margin-top: 0;
  padding: 10px 20px;
  background-size: contain;
  position: relative;
  bottom: 550px;
  right: 40px;
}

.footer ul {
  list-style: none;
  margin: 0;
  margin-left: 90px;
  padding: 0;
}

.footer ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;
}

.footer ul li img {
  width: 17px;
}

.footer ul li h1 {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 9px 0;
}

.footer ul li h2 {
  display: inline-block;
  font-size: 20px;
  margin: 0 0 7px 1200px;
  font-weight: 500;
}

.img4 {
  position: relative;
  left: 120px;
}
.img1 {
  position: relative;
  right: 120px;
}

.img2 {
  position: relative;
  right: 55px;
}
.img3 {
  position: relative;
  left: 10px;
}

.img4 {
  position: relative;
  left: 70px;
}

.cart {
  position: relative;
  left: 40px;
}

.search {
  position: relative;
  left: 20px;
}